html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --mall-blue: #013a93;
  --cloud-orange: #b86e00;
  --sky-blue: #e0ecff;
  --neutral-gray: #8f8f8f;
  --text-color: #3e4044;
  --light-green: #ddeedd;
  --light-red: #fff9ec;
  --text-red: #dd2525;
  --text-green: #56ac55;
  --light-blue: #e7edff;
  --neutral-gray-2: #ebebeb;
  --deep-green: #1cbe49;
  --faded-text: #6e7073;
  --leaf-green: #06a317;
  --light-gray: #f5f5f5;
  --cream: #fafafa;
  --light-blue: #e7edff;
}

/* store-layout */
/* BUTTON STYLE */
.itemButton {
  color: white;
  margin-left: 20px;
  padding: 5px 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemButton.no-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 150px;
  background-color: var(--mall-blue);
  display: flex;
  align-items: center;
  margin-left: unset;
}

.payment-complete .itemButton {
  margin: 10px auto;
  height: 40px;
}

/* cart */
.itemButton.cart {
  width: 85%;
  margin: auto;
  background-color: var(--mall-blue);
  height: 40px;
}

/* login page */
.loginForm .itemButton {
  width: 100%;
  margin: auto;
  height: 40px;
  margin-top: 20px;
}

.delivery-details .itemButton {
  width: 80%;
  height: 40px;
  margin: 20px auto;
}

/* hide pill overflow scroll-bar */
.pill-group::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pill-group {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* autocomplete */
button.itemButton.autocomplete {
  width: 100%;
  margin-left: 0px;
  height: 40px;
  margin-top: 20px;
}

.autocomplete input {
  height: 35px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid var(--mall-blue);
  border-radius: 5px;
}

.suggestion-item--active {
  position: absolute;
  top: 40px;
  left: 0px;
}

.autocomplete-dropdown-container {
  position: relative;
}

/* index.tsx */
.map-header {
  height: 7vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.loading-icon {
  display: flex;
  align-items: center;
  margin: auto;
}

/* button status */
